@import "tailwindcss";

@layer components {
  .category {
    @apply flex justify-between gap-5 bg-[#F3F0E9] border-4 items-center px-10 py-2 my-5 rounded-[50px] text-black text-[20px];
  }

  .login-inp {
    @apply pl-5 w-full p-2.5 text-[18px] outline-0 border border-[#797874] rounded-[25px];
  }

  .login-btn {
    @apply w-full p-2.5 text-[18px] text-[#282626] cursor-pointer outline-0 bg-[#ffae00] rounded-[25px] hover:bg-[#ff990a] transition duration-300;
  }
}

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}