@import "tailwindcss";

@layer components {
  .category {
    @apply flex justify-between gap-5 bg-[#F3F0E9] border-4 items-center px-10 py-2 my-5 rounded-[50px] text-black text-[20px];
  }

  .login-inp {
    @apply pl-5 w-full p-2.5 text-[18px] outline-0 border border-[#797874] rounded-[25px];
  }

  .login-btn {
    @apply w-full p-2.5 text-[18px] text-[#282626] cursor-pointer outline-0 bg-[#ffae00] rounded-[25px] hover:bg-[#ff990a] transition duration-300;
  }

  .modal-content {
    @apply bg-white m-auto mt-25 w-1/2 h-5/7 p-10 rounded-2xl;
  }

  .amount-btn {
    @apply h-10 w-25 border-1 border-[#847975] text-[18px] rounded-[10px] flex justify-center items-center cursor-pointer hover:border-amber-400 hover:bg-amber-400 transition duration-400;
  }

  .header-btn {
    @apply cursor-pointer rounded-[25px] border border-amber-950 bg-amber-950 outline-0 text-[#F3F0E9] py-2 px-5 text-[20px] transition duration-300 hover:text-amber-950 hover:bg-transparent;
  }
}

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.scrollbar {
  overflow: scroll;
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page-out {
  animation: fadeIn 0.5s ease-out forwards;
}